@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,500&display=swap');

body {
    font-family: "Poppins";
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #544837;
    max-width: 1400px;
    margin: auto;
}

.wrapper {
    margin: 20px 145px 80px 145px;
}

/* .flexed {
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

.header {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 30px;
}

.header-controls {
    display: grid;
    grid-template-columns: 10fr 1fr 1fr;
}

.header-nav-links {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding-left: 56px;
}

.header-btn {
    height: 46px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 16px;
}

.header-sign-up-btn {
    margin-left: 14px;
    width: 110px;
    border-width: 0;
    background-color: #FF9900;
    color: #FFFFFF;
}

.header-sign-in-btn {
    width: 102px;
    border: 1px solid #BCD0E5;
    background-color: #FFFFFF;
    color: #173A56;
}

ul {
    width: 350px;
}

a {
    text-decoration: none;
    color: #2F281E;
    font-weight: 400;
    font-size: 14px;
}

img {
    width: 100%;
}

.img-container {
    max-width: 600px;
}

.header-logo {
    width: 185px;
}

.grid-two {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
}

.superpowers-btns {
    display: grid;
    grid-template-columns: repeat(auto-fit, 175px);
    gap: 30px;
}

.video-link {
    margin: auto;
}

h1 {
    font-weight: 700;
    font-size: 44px;
    color: #2F281E;
    margin-bottom: 30px;
    line-height: 54px;
}

.superpowers-paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: #544837;
    margin-bottom: 45px;
}

.first-section-img {
    max-width: 605px;
}

.get-started-btn {
    width: 175px;
    height: 53px;
    background-color: #FF9900;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    border: 0;
    border-radius: 4px;
    margin-right: 30px;
}

.video-link a {
    color: #FF9900;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.video-link a>img {
    width: 13px;
}

section {
    margin-bottom: 100px;
}

.tools-section {
    display: flex;
    flex-direction: column;
}

h2 {
    color: #2F281E;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
}

.tools-section h2 {
    display: block;
    text-align: center;
    margin-bottom: 55px;
}

.tools-icon {
    width: 50px;
    margin-bottom: 30px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 240px);
    gap: 45px;
    justify-content: center;
}

.card > h3 {
    color: #2F281E;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 13px;
}


.tools-btn {
    margin: auto;
    height: 53px;
    width: 175px;
    background-color: #FF9900;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 60px;
    margin-bottom: 90px;
}

.designer-section div p:nth-child(3n) {
    margin-bottom: 30px;
}

.designer-section h2{
    margin-top: 3px;
    margin-bottom: 22px;
}

h4 {
    color: #2F281E;
    font-weight: 700;
    margin-bottom: 12px;
}

.regular-paragraph {
    margin-bottom: 25px;
}

.manager-img {
    margin-right: 100px;
}

.manager-icon {
    height: 35px;
    width: 35px;
    margin-right: 30px;
}

.list-item {
    display: flex;
}

.list-item p {
    margin-bottom: 30px;
}

.manager-section div p:nth-child(3n) {
    margin-bottom: 30px;
}

hr {
    border-color: rgba(188, 208, 229, 0.295);
}

footer {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
    padding-top: 102px;
}

.footer-logo {
    max-width: 185px;
}

/* .footernav-1 {
    width: 118px;
}

.footernav-2 {
    margin: 0 82px 0 130px;
    width: 131px;
} */

input, .footer-btn {
    display: block;

}

input {
    width: 325px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    margin-bottom: 21px;
}

.footer-btn {
    width: 131px;
    height: 39px;
    background-color: #FF9900;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.idk {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    
    /* display: flex;
    justify-content: flex-end; */

}

.down {
    

    /* align-self: flex-end; */
}