// .interactive-card {
//     position: absolute;
//     bottom: 300px;
//     right: 0;
// }

.banner-circle {
    width: 944px;
    position: absolute;
    top: 260px;
    right: 0;
    overflow: hidden;
    z-index: -1;
}
