.innovative-icon {
    background: url('../../img/sprite-icons.svg') no-repeat 0 0;
	width: 54px;
	height: 54px;
}

.proactive-icon {
    background: url('../../img/sprite-icons.svg') no-repeat -62px -4px;
	width: 32px;
	height: 46px;
}

.interactive-icon {
    background: url('../../img/sprite-icons.svg') no-repeat -102px -3px;
	width: 54px;
	height: 48px;
}

.plug-and-pay-icon {
    background: url('../../img/sprite-icons.svg') no-repeat -164px 0;
	width: 39px;
	height: 51px;
}

.cross-platform-icon {
    background: url('../../img/sprite-icons.svg') no-repeat -211px -4px;
	width: 44px;
	height: 47px;
}

.efficient-icon {
    background: url('../../img/sprite-icons.svg') no-repeat -263px -7px;
	width: 54px;
	height: 41px;
}

.scalble-icon {
    background: url('../../img/sprite-icons.svg') no-repeat -325px -1px;
	width: 39px;
	height: 51px;
}

