@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Playfair+Display:ital@0;1&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: #262A3F;
}

.wrapper {
  position: relative;
  max-width: 1280px;
  padding-top: 30px;
  margin: auto;
}

.background-image__container {
  top: -30px;
  position: absolute;
  z-index: -1;
}

.blur {
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 80%, white 100%);
}

img {
  width: 100%;
}

h2 {
  font-family: Playfair Display;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
}
h2 span {
  color: #85BBB1;
  font-style: italic;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 24px 5% 24px 5%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.244636) 24.1%, rgba(255, 255, 255, 0) 47.19%), rgba(255, 255, 255, 0.02);
  backdrop-filter: blur(5px);
  align-items: center;
  margin-bottom: 158px;
}
.header nav {
  flex: 1;
}
.header__logo img {
  height: 32px;
  width: auto;
}
.header__theme-container img {
  width: 25px;
  height: 25px;
}

.header__navigation ul {
  display: flex;
  justify-content: space-between;
  justify-content: flex-end;
}
.header__navigation ul .navigation__item {
  margin-right: 2.5%;
}
.header__navigation ul a {
  text-decoration: none;
  color: #262A3F;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.08em;
}

.header__theme-container {
  box-sizing: content-box;
  width: 25px;
  height: 25px;
  padding: 7px;
  margin-left: 8px;
  background-color: rgba(38, 42, 63, 0.3);
  border-radius: 1px;
}

.banner-section__title {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 52px;
  width: 44.2%;
  padding-left: 5%;
  margin-bottom: 24px;
}
.banner-section__title span {
  color: #85BBB1;
  font-style: italic;
}

.banner-section__paragraph {
  opacity: 0.8;
  padding-left: 5%;
  width: 465px;
  margin-bottom: 48px;
}

.banner-section {
  margin-bottom: 163px;
}

.btn-container {
  position: relative;
}

.banner-section__btn {
  margin-left: 64px;
}

.btn__underline {
  position: absolute;
  background-color: #F1897B;
  opacity: 0.3;
  height: 13px;
  width: 109px;
  top: 60%;
  left: 11px;
}

.btn {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  color: #F1897B;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  padding: 0;
}

.contact-btn__underline {
  width: 185px;
  left: 11px;
}

.request-btn__underline {
  width: 170px;
  left: 13px;
}

.invest-section {
  display: flex;
  position: relative;
  z-index: 1;
}

.invest__img {
  position: relative;
  margin-left: 5%;
  width: 566px;
  height: 680px;
}

.invest__info {
  position: absolute;
  right: 5%;
  top: 55px;
  display: flex;
  justify-content: space-between;
  width: 66%;
  height: 570px;
  background-color: rgba(255, 255, 255, 0.9);
}

.invest__amounts {
  margin: 42px 0 42px 1px;
  width: 371px;
  height: 486px;
  text-align: center;
}
.invest__amounts .amount__description {
  margin-bottom: 50px;
  opacity: 0.8;
}
.invest__amounts hr {
  margin: 0 144px;
  border: 0;
  border-top: 1px solid #85BBB1;
}
.invest__amounts .amount__second-item {
  margin-top: 41px;
}

.amount__money {
  font-family: Playfair Display;
  font-weight: 400;
  font-size: 68px;
  line-height: 72px;
  margin-bottom: 12px;
}
.amount__money span {
  font-size: 40px;
  line-height: 40px;
  color: #c5c5c5;
}

.invest__text {
  margin: 54px 11px 0 0;
  width: 360px;
  height: 334px;
}
.invest__text p {
  opacity: 0.8;
}
.invest__text p:first-child {
  margin-bottom: 26px;
}
.invest__text p:nth-child(2) {
  margin-bottom: 52px;
}

.services-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 86px;
  row-gap: 136px;
  margin: 140px 7.5%;
}
.services-section hr {
  margin: 0 0 32px 0;
  border: 0;
  border-top: 1px solid #E4E4E4;
}
.services-section h3 {
  font-family: Playfair Display;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  margin-bottom: 24px;
}
.services-section h3 span {
  color: #85BBB1;
  font-style: italic;
}
.services-section p {
  opacity: 0.8;
}

.main-quote {
  position: relative;
  max-width: 90%;
  margin: 0 5% 222px 5%;
  padding: 101px 0 0 11%;
}

.quote__background {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: -1;
}

.quote__img {
  position: absolute;
  width: 100px;
  height: 81px;
  top: 70px;
  left: 6%;
}

.quote__container {
  max-width: 751px;
  height: 198px;
}
.quote__container blockquote {
  font-family: Lato;
  font-weight: 400;
  font-size: 32px;
  line-height: 46px;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 40px;
}
.quote__container p {
  font-family: Playfair Display;
  font-style: italic;
  font-weight: 300;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.08em;
  color: #FFFFFF;
}

.video__container {
  position: relative;
  border: 1px solid #e4e4e4;
  border-radius: 32px;
  margin: 0 188px 55px 188px;
}
.video__container iframe {
  width: 812px;
  height: 502px;
  margin: 25px 60px 20px 28px;
  border: 1px solid black;
  border-top: 0;
}
.video__container .video__not-camera {
  position: absolute;
  width: 12px;
  height: 12px;
  top: 270px;
  left: 8px;
  border: 1px solid #E4E4E4;
  box-sizing: border-box;
  border-radius: 32px;
  z-index: -1;
}
.video__container .video__not-btn {
  position: absolute;
  width: 32px;
  height: 32px;
  top: 260px;
  right: 14px;
  border: 1px solid #E4E4E4;
  border-radius: 32px;
  z-index: -1;
}

.video-section {
  margin-bottom: 120px;
}
.video-section h2 {
  margin: 0 0 20px 192px;
}
.video-section h2 span {
  color: #85BBB1;
  font-style: italic;
}
.video-section p {
  width: 70%;
  margin-left: 192px;
}

.main-app {
  display: flex;
  position: relative;
  margin: 0 5% 151px 5%;
}
.main-app__container {
  position: relative;
  background-image: url(../images/app-background.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  width: 566px;
  height: 540px;
  border: 1px solid white;
}
.main-app__self {
  box-sizing: content-box;
  position: relative;
  background-color: #161926;
  border-radius: 12px;
  width: 200px;
  margin: 104px 250px 105px 76px;
  padding: 20px 21px 12px 19px;
  color: white;
}
.main-app hr {
  margin: 16px 0 10px 0;
  border: 1px solid #FFFFFF;
  opacity: 0.1;
}
.main-app hr:nth-child(4) {
  margin-top: 46px;
}
.main-app__coin-select {
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
}
.main-app .bit-coin {
  width: 18px;
  height: 18px;
  margin: 0 12px 0 6px;
}
.main-app .right-arrow {
  width: 16px;
  height: 16px;
  margin-right: 13px;
}
.main-app .tether-coin {
  width: 18px;
  height: 18px;
  margin: 0 0 0 6px;
}
.main-app .app-main-text {
  font-size: 12px;
  line-height: 24px;
  opacity: 0.3;
}
.main-app .rate__num {
  position: absolute;
  left: 29px;
  font-size: 20px;
  line-height: 24px;
}
.main-app .rate__num--integer {
  display: inline;
  font-style: italic;
  opacity: 0.7;
}
.main-app .rate__num--float {
  display: inline;
  font-weight: 700;
  font-size: 56px;
  line-height: 24px;
  margin-left: 6px;
  opacity: 0.9;
}
.main-app__exchange {
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.exchange__count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 0 5px 0 10px;
  font-size: 14px;
  line-height: 24px;
  width: 79px;
  border-radius: 4px;
}

.exchange__coin {
  width: 18px;
  height: 18px;
}

.fees__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fees__input {
  width: 51px;
  height: 17px;
  background: #FFFFFF;
  opacity: 0.06;
  border-radius: 4px;
}

.main-app__features {
  position: absolute;
  display: grid;
  row-gap: 40px;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(255, 255, 255, 0.9);
  top: 44px;
  left: 34%;
  width: 66%;
  padding: 72px 0 72px 64px;
}
.main-app__features h4 {
  font-family: Playfair Display;
  font-size: 40px;
  line-height: 48px;
  font-weight: 400;
  font-size: 24px;
  line-height: 48px;
  margin-bottom: 14px;
}
.main-app__features p {
  margin-bottom: 16px;
  opacity: 0.8;
}
.main-app__features .feature__item {
  max-width: 320px;
}
.main-app__features .feature__btn--container {
  margin-top: 22px;
  border: 1px solid #E4E4E4;
  height: 94px;
  max-width: 308px;
}
.main-app__features .feature__btn {
  margin: 35px 30%;
}

.clients {
  margin: 0 5% 196px 5%;
}

.clients__title {
  max-width: 28.5%;
}
.clients__title h2 {
  margin-bottom: 20px;
}
.clients__title p {
  opacity: 0.8;
}

.client-quote {
  position: relative;
  width: 468px;
  height: 333px;
  border: 1px solid rgba(255, 255, 255, 0);
}
.client-quote--first {
  background-image: url(../images/comment-img1.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
.client-quote--second {
  background-image: url(../images/comment-img2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
.client-quote--third {
  background-image: url(../images/comment-img3.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
.client-quote--fourth {
  background-image: url(../images/comment-img4.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
}
.client-quote blockquote {
  font-size: 16px;
  margin: 51px 48px 0 48px;
  color: white;
  opacity: 0.8;
}
.client-quote--author {
  font-family: Playfair Display;
  font-style: italic;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  position: absolute;
  color: white;
  left: 48px;
  bottom: 48px;
}

/*# sourceMappingURL=styles.css.map */
