input[type=checkbox] {
    transform: scale(1.5);
    margin: 0 16px 0 12px;
}

input[type="checkbox"]:checked {
  background: #ffffff;
}

input[type="checkbox"]:after {
  content: '';
  position: relative;
  left: 40%;
  top: 15%;
  width: 20%;
  height: 40%;
  border: solid #000000;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}

input[type="checkbox"] {
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    background: #ffffff;
    height: 14px;
    width: 14px;
    border: 1px solid white;
  }
  
  input[type="checkbox"]:checked:after {
    display: block;
  }