.banner-section__title {
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    font-size: 44px;
    line-height: 52px;
    width: 566px;
    padding-left: 64px;
    margin-bottom: 24px;

    & span {
        font-style: italic;
        color: $title-color;
    }
}

.banner-section__paragraph {
    padding-left: 64px;
    width: 465px;
    margin-bottom: 48px;
}

.banner-section {
    margin-bottom: 163px;
}