.contacts {
    margin: 0 5% 0 5%;
    @include flex-between;

}

.contacts__title-container {
    max-width: 500px;
    margin-bottom: 20px;
}

.contacts__form {
    width: 40.6%;

    label {
        display: block;
    }
}


.form-field {
    &::placeholder {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }
    
    width: 100%;
    border: 0;
    border-bottom: 1px solid hsla(230, 25%, 20%, 0.1);
}

.form-label {
    margin-bottom: 40px;
}