.main-app {
    display: flex;
    position: relative;
    margin: 0 5% 151px 5%;
    
    &__container {
        position: relative;
        background-image: url(../images/app-background.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: top center;
        width: 566px;
        height: 540px;
        border: 1px solid white;
    }

    // CARD
    &__self {
        box-sizing: content-box;
        position: relative;
        background-color: #161926;
        border-radius: 12px;
        width: 200px;
        margin: 104px 250px 105px 76px;
        padding: 20px 21px 12px 19px;
        color: white;
    }
    
    hr {
        &:nth-child(4) {
            margin-top: 46px;
        }
        
        margin: 16px 0 10px 0;
        border: 1px solid #FFFFFF ;
        opacity: 0.1; 
    }

    &__coin-select {
        display: flex;
        align-items: center;
        font-size: 14px;
        line-height: 24px;
    }

    & .bit-coin {
        @include card-icons-size;
        margin: 0 12px 0 6px;
    } 
    
    & .right-arrow {
        width: 16px;
        height: 16px;
        margin-right: 13px; 
    }

    & .tether-coin {
        @include card-icons-size;
        margin: 0 0 0 6px;
    }

    .app-main-text {
        @include app-text;
    }

    .rate__num {
        position: absolute;
        left: 29px;
        font-size: 20px;
        line-height: 24px;
            
        &--integer {
            display: inline;
            font-style: italic;
            opacity: 0.7;
        }

        &--float {
            display: inline;
            font-weight: 700;
            font-size: 56px;
            line-height: 24px;
            margin-left: 6px;
            opacity: 0.9; 
        };
    }
    
    &__exchange {
        @include flex-between;
        margin-bottom: 18px;
    }
}

.exchange__count {
    @include flex-between;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 0 5px 0 10px;
    font-size: 14px;
    line-height: 24px;
    width: 79px;
    border-radius: 4px
}

.exchange__coin {
    @include card-icons-size;
}

.fees__item {
    @include flex-between;
    align-items: center;
}

.fees__input {
    width: 51px;
    height: 17px;
    background: #FFFFFF;
    opacity: 0.06;
    border-radius: 4px;
}

// FEATURES
.main-app__features {
    position: absolute;
    display: grid;
    row-gap: 40px;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(255, 255, 255, 0.9);
    top: 44px;
    left: 34%;
    width: 66%;
    padding: 72px 0 72px 64px;

    h4 {
        @include semi-title;
        font-size: 24px;
        line-height: 48px;
        margin-bottom: 14px;
    }

    p {
        margin-bottom: 16px;
        opacity: 0.8;
    }

    .feature__item {
        max-width: 320px;
    }

    .feature__btn--container {
        margin-top: 22px;
        border: 1px solid #E4E4E4;
        height: 94px;
        max-width: 308px;
    }

    .feature__btn {
        margin: 35px 30%;
    }
}


