body {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 26px;
    color: $primary-color;
}

.page-container {
    background-color: $bg-color;
    max-width: 1280px;
    background-image: url(../images/background-image.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 30px;
    margin: auto;
    
}

.banner--blur {
    position: absolute;
    top: 750px;
    height: 170px;
    width: 100%;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
}

img {
    width: 100%;
}