.main-quote {
    position: relative;
    max-width: 90%;
    margin: 0 5% 222px 5%;
    // padding: 101px 0  0 11%;
}

.quote__background {
    width: 100%;
}

.quote__img {
    position: absolute;
    width: 8.7%;
    max-height: 81px;
    top: 17.5%;
    left: 6%;
}
.quote__container {
    position: absolute;
    top: 25.25%;
    left: 11.2%;
    max-width: 751px;
    height: 198px;
    
    blockquote {
        font-family: Lato;
        font-weight: 400;
        font-size: 32px;
        line-height: 46px;
        letter-spacing: 0.04em;
        color: #ffffff;
        margin-bottom: 40px;
    }

    p {
        font-family: Playfair Display;
        font-style: italic;
        font-weight: 300;
        font-size: 20px;
        line-height: 20px;
        letter-spacing: 0.08em;
        color: #FFFFFF;
    }
}