.services-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 86px;
    row-gap: 136px;
    margin: 140px 7.5% ;

    hr {
        margin: 0 0 32px 0;
        border: 0;
        border-top: 1px solid #E4E4E4;
    }

    h3 {
        @include semi-title;
        margin-bottom: 24px;

        span {
            @include italic-span;
        }
    }

    p {
        opacity: 0.8;
    }
}