h1 {
    font-size: 5vh;
    margin: 40px 0;
}

.input-container {
    text-align: center;
    font-size: 3vh;
    margin-bottom: 40px;

    &__question {
        margin-bottom:20px;
    }
    
    &__check--btn {
        border: none;
        outline: none;
        color: white;
        background-color: $city-color;
        border-radius: 5px;
        font-size: 3vh;
        height: 60px;
        margin-left: 1ch;
    }
}


.city-name {
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.214);
    outline: none;
    font-size: 3vh;
    color: $city-color;
    width: 9.5ch;
    &:focus {
        text-align: center;
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0.214);
    }
}